/* Day 3 - Warna, Backgroun, dan Border */

/* Judul */
h1 {
    text-align: center;
    color: darkred;
    font-family: Arial, sans-serif;
}

/* Box Dasar */
.box1, .box2, .box3, .box4 {
    margin: 20px auto;
    padding: 20px;
    width: 720px;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Background Color */
.box1 {
    background-color: lightblue;
    color: darkblue;
    border: 2px solid blue;
}

/* Background image + border */
.box2 {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210430/pngtree-blue-color-rectangle-shape-business-abstract-background-design-image_672225.jpg');
    background-size: cover;
    background-position: center;
    color: black;
    border: 3px dashed rgb(0, 0, 0);
}

/* Border Radius */
.box3 {
    background-color: pink;
    color: darkred;
    border: 2px solid red;
    border-radius: 15px;
}

/* Background Video */
.box4 {
    text-align: center;
    border: 2px solid red;
    position: relative;
    pointer-events: none;
    color: blue;
    padding: 100px;
    width: 560px;
    height: 315px;
}

/* Text */
.text1 {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    z-index: 1;
    font-size: 25px;
    font-weight: bold;
}